body{
  background-image:url(./images/soju.jpeg);
  background-size: cover;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "East Sea Dokdo", cursive;
}

.container {
  border: 10px solid white;
  border-radius: 20px;
  text-align: center;
  background-color: rgba(247, 243, 242, 0.7);
}

.button-style {
  height: 80px;
  width: 100px;
  margin-top: 5px;
  border-radius: 50px;
  font-size: 30pt;
  font-weight: bold;
}

.button-reset {
  font-size: 5vw;
  width: 80px;
  height: 60px;
}